* {
  color: #66c0f4
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #2a475e;
  }

  main {
    flex: 1 0 auto;
  }
/* .brand-title{
  color: #66c0f4;
} */

.link {
  color: #66c0f4;
  margin-bottom: 20px;
}
  /* img {

  } */
  /* footer {
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
  } */
  /* html {
    width: 100vw;
    height: 100vh;
    clip: auto;
    position: absolute;
    overflow: hidden;
    } */

  /* media query section from materialize, need to add further specificity */
  /* @media #{$small-and-down} {
      // styles for small screens and down
    }
    @media #{$medium-and-up} {
      // styles for medium screens and larger
    }
    @media #{$medium-and-down} {
      // styles for medium screens and down
    }
    @media #{$large-and-up} {
      // styles for large screens and up
    }
    @media #{$extra-large-and-up} {
      // styles for extra large screens and up
    } */
