* {
  color: #66c0f4;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #2a475e;
    font-size: 3em;
  }

a {
  font-size: 3em;
  size: 150%;
}

.link {
  color: #66c0f4;
  margin-bottom: 20px;
}
#container {
  flex: 1 1 auto;  /*grow vertically*/
}
  footer {
    position: relative;
    bottom:0;
    left:0;
    width:100%;
    
  }
span {
  color: #66c0f4;
}
.hyperlink {
  font-size: 2.5em;
}


  /* media query section from materialize, need to add further specificity */

  @media screen and (min-device-width: 769px) { 
    .link {
        margin-bottom: 5px;
      }
    footer {
      position: fixed;
      font-size: 2em;
    }
    body {
      font-size: 1em;
    }
    .hyperlink {
      font-size: 1em;
    }
    
    }
  